# Node Modules
# node_modules
npm-debug.log*
yarn-error.log*

# Next.js Cache and Build Output
.next
out
build

# Environment Variables (Keep these out of the image!)
.env
.env.*
!.env.production # Include production env if needed for build-time vars

# Git
.git
.gitignore

# Editor and IDE Specific Files
.vscode
.idea
*.swp
*.swo
.DS_Store

# Temporary Files
tmp
temp

# Logs
logs
*.log

docs
