# Default
**/.git
**/.svn
**/.hg
**/node_modules

# Ignored folders
**/.next
**/prisma/migrations
**/prisma/schema
**/public
**src/fonts

# Ignored files
.gitattributes
.gitignore
.prettierignore
Dockerfile
LICENSE

# Ignored file extentions
**/*.png
**/*.ico