@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0, 0%, 0%;

        --link: 266 66% 55%;

        --card: 0 0% 100%;
        --card-foreground: 0, 0%, 0%;

        --popover: 0 0% 100%;
        --popover-foreground: 0, 0%, 0%;

        --primary: 24 98% 60%;
        --primary-foreground: 0 0% 100%;

        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;

        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;

        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;

        --radius: 10px;

        --box-background: 0 0% 0%;
        --box-title: 0 0% 0%;
        --box-hover: 0 0% 0%;
    }

    .dark {
        --background: 234 23% 9%;
        --foreground: 0 0% 90%;

        --card: 235 20% 12%;
        --card-foreground: 0 0% 98%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 24 98% 60%;
        --primary-foreground: 0 0% 100%;

        --secondary: 235 16% 16%;
        --secondary-foreground: 0 0% 98%;

        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;

        --accent: 235 16% 16%;
        --accent-foreground: 235 12% 29%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;

        --border: 235 16% 16%;
        --input: 236 12% 29%;
        --ring: 0 0% 83.1%;

        --disabled: 234 23% 9%;
        --disabled-foreground: 236 10% 52%;

        --box-background: 235 20% 12%;
        --box-title: 235 16% 16%;
        --box-accent: 235 14% 19%;
        --box-hover: 0 0% 100%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

/* Remove increment and decrement arrow on input number */
/* (Parce qu'on est pas raciste) */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@layer utilities {
    .border {
        @apply border-2;
    }

    .border-l {
        @apply border-l-2;
    }

    .border-r {
        @apply border-r-2;
    }

    .border-t {
        @apply border-t-2;
    }

    .border-b {
        @apply border-b-2;
    }

    .animate-in {
        @apply transition-all duration-300 ease-in-out;
    }

    .hover-effect {
        @apply hover:bg-box-hover/10 transition-colors duration-200;
    }

    .glass-effect {
        @apply bg-box-background/50 backdrop-blur-sm border border-box-hover/10;
    }
}
